body{
    height: 100%;
	width: 100%;
    position: absolute;
    background:#f5f6fa;
    font-size:16px;
}

#header-title{
    width:100%;
    height:12vh;
    /* border:0.1vw solid black; */
}

#footer-info{
    width:100%;
    height: 8vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    /* border:0.1vw solid black; */

}

#source-lyric{
    font-family: 'Hammersmith One', sans-serif;
    font-size:1vw;
    margin-right:2vw;
}
.title{
    margin-top:0.5em;
    margin-left:1em;
    font-family: 'Hammersmith One', sans-serif;
    font-size:3em;

}

.lyrics{
    width: 30vw;
    height:75vh;
    overflow-y:scroll;
    /* border:0.1vw solid black; */
    padding: 0.5em 0.5em;

}

.lyric-block{
    width:28vw;
    height:auto;
    border:0.1vw solid #2f3640;
    border-radius:5px;
    margin-top:0.5em;
    margin-bottom:0.5em;
    background: #dcdde1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lyric-text{
    width: 26vw;
    /* border:0.1vw solid black; */
    height:auto;
    padding-top:0.5em;
    padding-bottom:0.5em;
    text-align:left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:1.5em;

}

.lyric-exception{
    font-size:1.25em;
}
.main{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.video-area{
    width:52vw;
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.video{
    width:52vw;
    height:60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.video-info{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
	font-size:1.15em;
    width:52vw;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.emphasis{
    text-decoration: underline;
    font-weight: 600;

}

.embeddedVideo{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    font-size:1.25em;

}


.chorus{
    font-style: italic;
    font-weight: 600;
}

.no-underline{
    text-decoration:none;
    font-weight: 600;

}


.end{
    font-size:2em;
    font-weight:900;
}
* {
    margin: 0;
    padding: 0;
  }
  
