body{
    margin-top:0;
    background-color:#c6e2ff;
    font-family: 'Crimson Text', serif;

}

h1{
     font-family: 'Raleway', sans-serif;
}


span{
    font-family: 'Forum', cursive;
    font-weight: bold;
}