*{
    margin:0;
    padding:0;
    overflow-x:hidden;
}


body {
    background-color: #333 !important;
    
  }


.navbar {
    background:rgba(F,F,F,1);   /* for latest browsers */
    width: 100vw;
    margin-top: 15px;
    font-size: 30px;
    text-shadow: 2px 2px 2px #333;
    z-index:5;
    /* font-family: 'Forum', cursive; */
    font-family: 'Raleway', sans-serif;

 }
 .nav-link{
    color:#FFF;
 }
 .nav-link:hover{
    color:#FFF;
    text-shadow: 2px 2px 2px #CCC;
    transition:0.2s;
    transform:scale(1.1);
 }

 .fa-link{
    font-size:16px;
    vertical-align: middle;
}
   
#wrapper{
    width: 100vw;
    background-color:white;
    padding-bottom: 12.5vmax;
}

.title-text{
    margin-top: 50px;
    font-size: 80px;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #AAA;
    text-decoration:none;
    z-index:5;
    font-family: 'Forum', cursive;

}
.title-image{
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    opacity: 0.85;
    z-index:2;
}
.filt{
    width:100vw;
    height:400px;
    background-color:rgba(0,0,0,0.5);
    z-index:3;
    position: absolute;
}

.filt-above{
    width:100vw;
    height:400px;
    position: absolute;
}
.page-adventure{
    background-image:url("../images/wild-away-589639-unsplash.jpg");  
    background-position: center center;
}

.page-hawaii{
    background-image:url("../images/hawaii/remi-yuan-560057-unsplash.jpg");  
    background-position: center center;
    
  }

.page-food{
    background-image:url("../images/food/fruit-tasting-maui-2.jpg"); 
    background-position: 100% 80%;
}

.page-sightseeing{
    background-image:url("../images/tom-henderson-1256764-unsplash.jpg");  
    background-position: center center;
}

.description{
    width: 84vw;    
    margin:auto;
    margin-top:50px;
    flex-direction: row;
}

.des-image{
    width: 260px;
    height: 260px;
    object-fit: cover;
}


.des-image-2{
    display:none;
}


.des-text-block{
    width: 600px;
}
.des-text-title{
    overflow-y:hidden;
    font-family: 'Forum', cursive;
    font-weight: bold;

}
.des-text-subhead{
    font-size: 22px;
}

.des-text-small{
    color : #666;
    font-size:12px;
}

.des-text-content{
    font-size:18px;
    font-family: 'Crimson Text', serif;
}

.des-text-item{
    margin-bottom:20px;
}

.icon{
    width: 40px;
    height:40px;
    filter: brightness(0) invert(1);

}


@media (max-width: 1130px) {

    .description{
        flex-direction: column;
        width: 75vw;
    }
    .des-image-1{
        display:none;
    }

    .des-image-2{
        display:flex;
    }

    .des-text-title{
        text-align: center;
        margin-top:15px;
    }

}



@media (max-width: 1000px) {

#navnavnav{
    display:none;
}

}
