*{
    margin:0;
    padding:0;
    overflow-x:hidden;
}


.navbar {
    background:rgba(F,F,F,1);   /* for latest browsers */
    width: 100vw;
    margin-top: 3vh;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #333;
    z-index:5;
 }

 body {
    background-color: #333 !important;
  }

#wrapper{
    width: 100vw;
    background-color:white;
    padding-bottom: 12.5vh;
}

.title-text{
    font-size: 5em;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #949494;
    text-decoration:none;
}
.title-image{
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;
}
.page-adventure{
    background-image:url("../images/wild-away-589639-unsplash.jpg");  
    background-position: center center;
}

.page-hawaii{
    background-image:url("../images/hawaii/remi-yuan-560057-unsplash.jpg");  
    background-position: center center;
    
  }

.page-food{
    background-image:url("../images/food/fruit-tasting-maui-2.jpg"); 
    background-position: 100% 80%;
}

.page-sightseeing{
    background-image:url("../images/tom-henderson-1256764-unsplash.jpg");  
    background-position: center center;
}

.description{
    width: 84vw;
    margin:auto;
    margin-top:7.5vh;
}

.des-image{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}
.des-text-block{
    width: 40vw;
}
.des-text-title{
    overflow-y:hidden;

}

.des-text-1{
}


.icon{
    width: 40px;
    height:40px;
    filter: brightness(0) invert(1);

}