*{
    margin:0;
    padding:0;
    overflow-x:hidden;

}

.navbar {
    background:rgba(F,F,F,1);   /* for latest browsers */
    width: 100vw;
    margin-top: 3vh;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #949494;
 }

 body {
    background-color: #333 !important;
  }

#wrapper{
    width: 100vw;
    height:200vh;
    background-color:white;

}

.section{
    height: 100vh;
}

.title-text{
    font-size: 4em;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #949494;
    text-decoration:none;
}
.title-text:hover{
    text-decoration: none;
}

#front-first{
    background-image:url("../images/zetong-li-1298054-unsplash.jpg");
    background-size: cover;
}

.icon{
    width: 40px;
    height:40px;
    filter: brightness(0) invert(1);

}