*{
    padding:0;
    margin:0;
}

html, body{
    height:100%;
}
body{
    box-sizing:border-box;
}
a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 5;
}
.card{
    width:100%;
    height:100%;
    position: relative;
       background-image:url(images/ackbar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.text{
    position:absolute;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    left: 70%;
    top: 80%;
    text-shadow: 1px 1px #777;
}

.line{
font-size: 60px;
}

.attribute{
    font-size: 40px;
}
.oneline{
    display: none;
}

@media (max-width: 2200px) {
    .text{
        top:75%;
    }
    .line {
        font-size: 50px;
    }
    .attribute{
        font-size:34px;
    }
}
@media (max-width: 1600px) {
   
    .line {
        font-size: 50px;
    }
    .attribute{
        font-size:34px;
    }
}

@media (max-width: 1200px) {
    .text {
        left:32%;
        top:90%;
        display:inline-block;
    }
    .twoline{
        display:none;
    }
    .oneline{
        display:inline-block;
        width:100%;
        font-size:40px;
    }
}
@media (max-width: 720px) {
    .text {
        left:12%;
        top:90%;
        display:inline-block;
    }
    .twoline{
        display:none;
    }
    .oneline{
        display:inline-block;
        width:100%;
        font-size:40px;
    }
}

@media (max-height: 850px){
    .text{
        top:65%;
    }
  
}

@media (max-height: 500px) {
    .text{
        top:40%;
    }
  
}

@media (max-height:900px) and (max-width:1200px){
    .text {
        left:67%;
        top:50%;
        display:inline-block;
    }
    .twoline{
        display:inline-block;
    }
    .oneline{
        display:none;
    }
    .line {
        font-size: 35px;
    }
    .attribute{
        font-size:24px;
    }
}
